@import "colors";

/*
 * Theme definitions
 */

$themes: (
  light: (
    backgroundColor: white,
    textColor: $black,
    themeColor: $dark-blue,
    titleColor: $dark-blue,
    titleHoverColor: $faded-red,
    textHoverColor: $gray-700,
  ),
  dark: (
    backgroundColor: #222,
    textColor: $gray-300,
    titleColor: $white,
    titleHoverColor: $faded-red,
    themeColor: $dark-red,
  ),
);

/*
 * Implementation of themes
 */
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

/*
 * Actual styles for the app
 */

body {
  margin: 0;
}

html,
body {
  height: 100%;
  @include themify($themes) {
    background: themed("backgroundColor");
  }
}

button {
  border: none;
}

#app-root {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    flex: 1;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;

  .title {
    font-family: sans-serif;
    font-weight: lighter;
  }

  .page-title,
  h1,
  h2,
  h3,
  h4,
  h5 {
    @include themify($themes) {
      color: themed("titleColor");
    }
  }

  .project-link {
    @include themify($themes) {
      h4:hover {
        color: themed("titleHoverColor");
      }
    }
  }

  p {
    @include themify($themes) {
      color: themed("textColor");
    }
  }

  Nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    color: $gray-200;
    @include themify($themes) {
      text-decoration-color: themed("themeColor");
    }
  }

  @include themify($themes) {
    color: themed("textColor");
    background-color: themed("backgroundColor");
  }

  .button {
    max-width: 20em;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 32px;
    display: inline-block;
    transition: color 0.1s, border-color 0.1s, background-color 0.1s;

    @include themify($themes) {
      border: themed("buttonBorder");
      color: themed("buttonTextColor");
      border-color: themed("buttonTextColor");
      background-color: themed("buttonColor");
      text-transform: themed("buttonTextTransform");

      &:hover {
        color: themed("buttonTextHoverColor");
        border-color: themed("buttonTextHoverColor");
        background-color: themed("buttonHoverColor");
      }
    }
  }
}
