@import "themes";

@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import "../../static/fonts/Aurabesh/fonts.css";

html,
body {
  font-family: "Raleway", sans-serif;
  height: 100%;
  width: 100%;
  font-size: calc(14px + (18 - 12) * ((70vw - 800px) / (1600 - 400)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

img {
  margin-bottom: 15px;
  max-width: 100%;
}

img:hover {
  animation: pulse 3s;
}

.custom-control-input {
  outline: none;
  border-color: none;
  box-shadow: none;
}

.custom-control-input ~ .custom-control-label::before {
  border-color: $yellow;
  background-color: $yellow;
}

.custom-switch .custom-control-input ~ .custom-control-label::after {
  background-color: $white;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: $dark-gray;
  background-color: $devil-gray;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: $white;
}

.brand-icon {
  font-size: 3rem;
  color: $gray-700;
  &.empire {
    color: $gray-500;
  }
}

.brand-icon:hover {
  &.rebel {
    color: $faded-red;
  }
  &.empire {
    color: $white;
    border-radius: 50%;
    background: $black;
  }
}

.icons {
  font-size: 3.75rem;
  margin: auto;
  color: $gray-600;
  border-radius: 50%;
}

.bg-vader-dark {
  background: $dark-gray;
}

.search {
  &.dark {
    color: $white;
    caret-color: gray;
    &:focus {
      box-shadow: 0 0 0 0.1rem rgba($dark-red, 0.8);
      border-color: rgba($dark-red, 0.8);
    }
  }
  &.light:focus {
    box-shadow: 0 0 0 0.1rem rgba($dark-blue, 0.8);
    border-color: rgba($dark-blue, 0.8);
  }
}

.bg-none {
  background: rgba(0, 0, 0, 0) !important;
}

.icons:hover {
  &.dark {
    color: $dark-red;
    &.github,
    &.fcc,
    &.file,
    &.hr {
      background: $black;
    }
    &.fcc {
      border-radius: unset;
    }
  }
  &.light {
    &.github {
      color: $black;
    }
    &.linkedin {
      color: $linkedin-blue;
    }
    &.fcc {
      color: $fcc-green;
    }
    &.hr {
      color: $hr-green;
    }
    &.mail {
      color: $pink;
    }
    &.file {
      color: $dark-blue;
    }
  }
  color: $gray-800;
}

.aurebesh:hover {
  font-family: "Aurabesh", "Raleway", sans-serif;
}
