@import "../../static/fonts/fonts.css";

@import "themes";

@media (max-width: 767px) {
  html,
  body {
    font-size: 12px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  html,
  body {
    font-size: 14px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  html,
  body {
    font-size: 16px !important;
  }
}

@media (min-width: 1200px) {
  html,
  body {
    font-size: 16px !important;
  }
}

html,
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-display: swap;
  height: 100%;
  width: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: red;
  &:hover {
    color: rgb(159, 0, 0);
  }
}

.height-60 {
  height: 65%;
}

nav {
  font-size: 20px;
}

.app-container > * {
  transition: color 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
}

.bg-none {
  background: rgba(0, 0, 0, 0) !important;
}

.see-live-button {
  background-color: rgb(234, 0, 0) !important;
  border: none;
  &:hover {
    background-color: rgb(214, 0, 0) !important;
  }
}

.search {
  border-radius: 20px;
  -webkit-appearance: none;
}

.blog-posts-container {
  min-width: calc(device-width);
  max-width: 1300px;
}

.i-5 {
  text-indent: 5vmin;
}

#triplebyte {
  height: 2.5rem;
  display: block;
  margin: auto;
  margin-top: 0.9rem;
}

.theme-container {
  border: none;
  outline: none;
}

.theme-toggle {
  transition: 0.1s ease-in;
  display: block;
  margin: auto;
  font-size: 1.2em;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    border: none;
  }
  &:active {
    border: none;
  }
}

.dark-mode {
  color: rgb(4, 53, 83);
}

.light-mode {
  color: orange;
}

/** Home Page Icon Styling START */

.icons {
  font-size: 2rem;
  margin: 0.1rem;
  color: $gray-600;
}

.resume-icons {
  font-size: 5rem;
  margin: 2rem;
}

.about-icons {
  font-size: 6rem;
}

.brand-icon {
  font-size: 4.5rem;
  border-radius: 50%;
  color: lightgreen;
  background: white;
  &:hover {
    color: white;
    background: lightgreen;
  }
  &.empire {
    border-radius: 50%;
    color: $white;
    background: $black;
    &:hover {
      color: $black;
      background: $white;
    }
  }
}

.resume-icons {
  &.bootstrap {
    color: $bootstrap;
  }
  &.java {
    color: $java;
  }

  &.html {
    color: $html5;
  }

  &.css {
    color: $css3;
  }

  &.swift {
    color: $swift;
  }

  &.nodejs {
    color: $nodejs;
  }

  &.reactjs {
    color: $reactjs;
  }

  &.js {
    color: $javascript;
  }

  &.sass {
    color: $sass;
  }

  &.jira {
    color: $jira;
  }

  &.docker {
    color: $docker;
  }
}

.p-large {
  font-size: 1.2rem;
}

.resume-tags {
  background: $gray-900;
}

.unemployed {
  font-size: 1.35rem;
}

/** Institution Links */

.uwaterloo {
  color: #e4b429 !important;
}

.uottawa {
  color: #be0023 !important;
}

.ndame {
  color: $dark-red !important;
}
