@import "colors";

$theme-colors: (
  primary: $purple,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800,
) !default;

@import "fonts";

@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css?family=Raleway");

html,
body {
  font-family: "Raleway", sans-serif;
  height: 100%;
  width: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

img {
  margin-bottom: 15px;
  max-width: 100%;
}

img:hover {
  animation: pulse 0.5s;
}

.brand-icon {
  font-size: 3rem;
  color: $gray-700;
}

.brand-icon:hover {
  color: $gray-800;
}

.icons {
  font-size: 3.75rem;
  color: $gray-600;
}

.icons:hover {
  color: $gray-800;
}
